main {
    max-width: 600px; /* Adjusts the main content width */
    margin: auto; /* Centers the main content */
    padding: 20px; 
}

#blogImage {
    max-width: 100%; /* Ensures the image is not wider than the container */
    height: auto; /* Maintains the aspect ratio of the image */
    display: block; /* Makes the image a block-level element to allow for alignment */
    margin-right: auto; /* Aligns the image to the left by pushing the right margin to auto */
}

